.favDrinks img , .allDrinks img 
{
   
    height: 200px; 
}
.card img 
{
    cursor: pointer;
}
.displayDrinks
{
    border: 1px #2879fe solid;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    
}
.displayDrinks span  i 
{
    cursor: pointer;
}
.displayDrinks .numsOfDrinks
{
    
    display: inline-block;
    border: 1px solid #2879fe;
    border-radius: 2px;
}
.displayDrinks img 
{
    height: 250px;
}
.forborder 
{
    border: 1px solid #2879fe;
    background-color:  #2879fe;;
}
.displayDrinks
{
    display: none;
}