.favDrinks img , .allDrinks img 
{
   
    height: 200px; 
}
.card img 
{
    cursor: pointer;
}
.displayDrinks
{
    border: 1px #2879fe solid;
    border-radius: 5px;
}
.displayDrinks span  i 
{
    cursor: pointer;
}
.displayDrinks .numsOfDrinks
{
    
    display: inline-block;
    border: 1px solid #2879fe;
    border-radius: 2px;
}
.displayDrinks img 
{
    height: 250px;
}
.forborder 
{
    border: 1px solid #2879fe;
    background-color:  #2879fe;;
}
#showContainer
{
    display: none;
}